@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "@gcba/obelisco-v2/dist/styles.css";
@import "boxicons/css/boxicons.min.css";
@import "material-symbols/index.css";

/* El autocomplete no hace transparente el input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.input-search::placeholder {
  color: '#505E70' !important;
}

* {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  box-sizing: border-box;
}

.main {
  display: block;
  height: 90vh;
}

.sidebar {
  height: 90vh;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}

.top-section {
  padding: 2rem 1.25rem;
}

.bars {
  margin-left: 3rem;
}

.link {
  padding: 1rem 1.5rem;
  transition: all 1s;

  &:hover {
    background-color: rgb(15, 90, 140);
    color: black;
  }
}

.active {
  background-color: rgb(15, 90, 140);
  color: black;
  font-weight: 700;
}

.text-justify {
  text-align: justify;
}

.initial-view-button {
  background-image: url("./assets/images/mundo.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.wms-control-button {
  background-image: url("./assets/images/layer-plus-regular-24.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.suggestions-item-list {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msg-error {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-small;
}

.masinfo-wrapper {
  width: 21rem;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.masinfo-items {
  font-size: x-small;
}

.temporal-wrapper {
  width: 21rem;
  height: 100vh;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

p,
span,
label {
  font-family: "Open Sans", sans-serif;
}

.padding-modal .modal-content {
  padding: 0 !important;
}