@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.main {
  display: block;
  height: 90vh;
}

.sidebar {
  height: 90vh;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}

.top-section {
  padding: 2rem 1.25rem;
}

.bars {
  margin-left: 3rem;
}

.link {
  padding: 1rem 1.5rem;
  transition: all 1s;

  &:hover {
    background-color: rgb(15, 90, 140);
    color: black;
  }
}

.active {
  background-color: rgb(15, 90, 140);
  color: black;
  font-weight: 700;
}

.text-justify {
  text-align: justify;
}

.initial-view-button {
  background-image: url("./assets/images/mundo.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.wms-control-button {
  background-image: url("./assets/images/layer-plus-regular-24.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.suggestions-item-list {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msg-error {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-small;
}

.masinfo-wrapper {
  width: 21rem;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.masinfo-items {
  font-size: x-small;
}

.temporal-wrapper {
  width: 21rem;
  height: 100vh;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}
